<template>
	<div class="contacts">
		<h2>{{contactsTitle}}</h2>
		<div>
			<For each="letter in helpMail"><span>{{letter}}</span></For>
		</div>
		<div>
			<div>
				<For each="letter in landline"><span>{{letter}}</span></For>
			</div>
			<small>Chamada para rede fixa nacional</small>
		</div>
		<div>
			<div>
				<For each="letter in mobilePhone"><span>{{letter}}</span></For>
			</div>
			<small>Chamada para rede móvel nacional</small>
		</div>
	</div>
</template>

<style>
	.contacts>* {
		margin-top: 15px
	}

	.contacts small {
		font-size: 0.8em;
	}
</style>