<template>
	<footer style="padding: 20px;">
		<div class="row sa fw">
			<div>
				<h3>Contacts</h3>
				<For each="letter in helpMail"><span>{{letter}}</span></For>
			</div>
			<div>
				<a href="https://isat.pt" class="row vca gutter-sm">
					<h3>Powered by <img src="/isat-white.svg" width="51" height="19" alt="is at"></h3>
					<svg width="35" height="35" version="1.1" viewBox="0 0 350 350" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
						<path class="st0" d="m122.44 175h227.56c0-77.281-62.712-139.99-139.99-139.99-77.281 0-139.99 62.712-139.99 139.99h-70.014c0 77.281 62.712 139.99 139.99 139.99 72.401 0 132.01-55.038 139.25-125.53z" fill="#fff"/>
					</svg>
				</a>
			</div>
		</div>
		<span>Copyright © {{YEAR}} Sibyl</span>
	</footer>
</template>

<style>
	footer {
		background-color: black;
		color: white;
	}
</style>